<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Cards!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1> Click the Card to Flip!</h1>

    <div class="app" id="app">
      <div class="scene scene--card">
        <div class="card" @click="toggleFlip" :class="{is__Flipped: isFlipped}">
          <div class="card__face card__face--front">
            <p v-for="question in questions">
              {{question.question}}
            </p>
          </div>
          <div class="card__face card__face--back">
            <p v-for="answer in questions">
              {{answer.answer}}
            </p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="app.js"></script>
    
</body>
</html>